[Unit]
Description=mastodon-streaming
After=network.target

[Service]
Type=simple
User=mastodon
WorkingDirectory={{ mastodon_app_dir }}
Environment="NODE_ENV=production"
Environment="PORT={{ mastodon_streaming_port }}"
ExecStart=/usr/bin/npm run start
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
